h2 {
  /* font-size: 2rem; */
  font-weight: 200;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: rgb(236, 183, 234);
}

h2:hover {
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

p {
  color: black;
  font-weight: 600;
  margin-bottom: 29px;
  margin-top: 10px;
}

.border-box {
  background-color: rgb(236, 183, 234);
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

.item {
  overflow: hidden;
}

.item:hover {
  transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(236, 183, 234);
  box-shadow: 5px 5px 15px 5px rgb(236, 183, 234);
}

.theCard:hover {
  transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(236, 183, 234);
  box-shadow: 5px 5px 15px 5px rgb(236, 183, 234);
}

.showMeBtn:hover {
  color: rgb(236, 183, 234);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.showMeBtn {
  font-family: "Montserrat Alternates, sans-serif";
}

.itemImage {
  width: 240px;
  height: 200px;
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

/* .itemImage:hover {
  transform: scale(1.1);
  cursor: pointer;
} */
