/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  /* top: 2px; */
  left: 195px;
  height: 400px;
  width: 400px;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#first-orbit {
  position: absolute;
  top: 140px;
  left: 140px;
  width: 200px;
  height: 200px;
  border: 2px rgb(236, 183, 234) dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the first orbiting circles ---------- */
.first-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url("../../images/orbitImgs/sirsly.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 115px;
  left: 115px;
  width: 250px;
  height: 250px;
  border: 2px black dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 12s linear infinite;
  animation: spin-right 12s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url("../../images/orbitImgs/avril.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 95px;
  left: 95px;
  width: 300px;
  height: 300px;
  border: 2px rgb(236, 183, 234) dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 14s linear infinite;
  animation: spin-right 14s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url("../../images/orbitImgs/lonerism.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#third-orbit {
  position: absolute;
  top: 63px;
  left: 60px;
  width: 360px;
  height: 360px;
  border: 2px black dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 16s linear infinite;
  animation: spin-right 16s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.third-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url("../../images/orbitImgs/redhot.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#fourth-orbit {
  position: absolute;
  top: 40px;
  left: 36px;
  width: 410px;
  height: 410px;
  border: 2px rgb(236, 183, 234) dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 18s linear infinite;
  animation: spin-right 18s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.fourth-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url("../../images/orbitImgs/kinks.jpeg");
  background-size: contain;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 480px;
  border: 2px black dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  /* background-color: #00ffca; */
  background-image: url("../../images/orbitImgs/joplinImg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ---------- Animation ---------- */
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
